/** Cart Stylesheet ***/
/*********** BUTTONS  DIMENSIONS AND POSITIONS ************/
#sign-in,
#sign-up,
#guest-checkout {
    height: 10vh;
}
#log-in-btn,
#sign-up-btn,
#guest-checkout-btn,
#proceed-to-checkout,
#place-your-order {
    width: 100%;
    height: 5vh;
    display: block;
    min-width: 230px;
}

#log-in-btn:hover,
#sign-up-btn:hover,
#guest-checkout-btn:hover {
    color: #00fbe3;
    background-color: rgb(211, 31, 127)!important;
}

.mdl-button--raised {
    background: rgba(180, 69, 197, .9);
    box-shadow: 2px 2px 4px 2px #8195ce;
}

/** buttons and forms -  border radius **/
.mdl-button--raised,
.mdl-button,
.mdl-button:hover,
#cart-table,
#totals-table,
.well,
#contact-form-submit-btn,
#shipto-form {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.mdl-button {
    color: white;
}
#contact-form-submit-btn:hover {
    background-color: rgba(240, 155, 31, 0.8);
    color: #212121;
    font-weight: bold;
    font-size: 120%;
}
.btn-info:hover, .btn-info:active:hover {
    /*background-color: rgba(240, 155, 31, 0.8)!important;*/
    /*background-color: #ff4081!important;*/
    /*background-color: #00695c!important;*/
    background-color: #8a105a!important;
}
.btn {
    transition: 1s ease-out;
    background-color: rgb(158, 16, 92) !important;
}
#proceed-to-checkout button,
#place-your-order-btn button{
    height: 5vh;
}
#login-form-submit-btn,
#signup-form-submit-btn,
#guest-checkout-form-submit-btn{
/*#proceed-to-checkout button,*/
/*#place-your-order-btn button {*/
    /*background-color: rgb(158, 16, 92) !important;*/
    color: #00fbe3;
    background-color: rgb(158, 16, 92)  !important;
    min-width: 230px;
    margin-bottom: 2vh;
}
#login-form-submit-btn:hover,
#signup-form-submit-btn:hover,
#guest-checkout-form-submit-btn:hover{
/*#proceed-to-checkout button,*/
/*#place-your-order-btn button{*/
    height: 4vh;
    color: #00fbe3;
    background-color: rgb(112, 17, 68) !important;
}
#proceed-to-checkout button,
#place-your-order-btn button{
    background-color: rgb(158, 16, 92) !important;
    color: #00fbe3 !important;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.38)!important;
}
#proceed-to-checkout button:hover,
#place-your-order-btn button:hover {
    background-color: rgb(211, 31, 127)!important;
    box-shadow: 3px 2px 5px 1px rgba(26, 194, 255, 0.88)!important;
}
#guest-checkout-btn2, #sign-up-btn2 {
    margin-left:10%;
}
#log-in-btn-ctn{
    margin-left:15%;
}
.mdl-button--raised:focus:not(:active) {
    /*background-color: rgba(33, 193, 243, 0.47);*/
    #background-color: rgba(167, 11, 94, 0.88);
}
.user-login{
    top:   5vh;
    margin-bottom: 5vh;
}
#proceed-to-checkout {
    bottom: 1vh;
    /*background-color: transparent;*/
}
/*#proceed-to-checkout:hover {*/
    /*background-color: transparent;*/
/*}*/
#proceed-to-checkout button {
    padding-left: 10px;
}
.cart {
    min-height: 80vh;
    position: relative;
}
#cart-table,
#totals-table,
#shipto-form {
    margin-bottom: 5vh;
    position: relative;
    top: 5vh;
    #box-shadow: 2px 2px 4px 4px #8195ce;
    background-color: rgba(119, 120, 243, 0.13);
    box-shadow: 2px 2px 4px 4px rgba(124, 138, 136, 0.38);
}
#shipto-form {
    background-color: rgba(33, 193, 243, 0.47);
}
#totals-table {
    top: 1vh;
}
.cart-row {
    height: auto;
    position: relative;
}
#cart-page {
    padding-right: 0;
}
/************   END CART - page 1 - w/login   ********************/

.login-forms .container {
    background-color: whitesmoke;
}
.login-form .well,
.signup-form .well,
.guest-checkout-form .well,
#shipto-form {
    margin-top: 5vh;
    position: relative;
    /*background-color: rgb(163, 243, 235);*/
    box-shadow: 2px 2px 4px 4px rgba(0, 105, 92, 0.38);
    background-color: #f3f3f3;
}
#shipto-form {
    /*background-color: rgb(163, 243, 235);*/
    background-color: #F8F2DA;
    box-shadow: 2px 2px 4px 4px rgba(0, 105, 92, 0.38);
}
.signup-form .row,
.guest-checkout-form .row {
    overflow: hidden;
}
.show-message{
    #box-shadow: 2px 2px 4px 4px rgba(0, 0, 0 , 0);
    background: #edf0f2;
}
.login-failed-header,
.signup-fail-header,
.proceed2checkout-fail-header,
.proceed2checkout-cartEmpty-header {
    color: red;
}
.login-success-header,
.signup-success-header,
.guest-checkout-success-header {
    color: green;
}

#empty-cart-message{
    margin-top: -4vh;
}
 form div {
     background-color: white;
 }
 .hide-form {
     height: 0;
 }
 .cart-header {
     color: #9c27b0 !important;
     font-size: 1.2em !important;
     font-weight: bold;
 }

.login-forms.ng-hide-add, .login-forms.ng-hide-remove{
    transition: 0s linear all;
}
.login-forms.ng-hide-add-active, .login-forms.ng-hide-remove-active{
    transition: 200ms linear all;
}

#place-your-order {
    position: absolute;
    bottom:0;
    right:0;
}
.checkout-buttons {
    color: white !important;
}
#proceed-to-checkout button {
    min-width: 260px;
}

md-input-container label:not(._md-container-ignore) {
    left: 45px;
    font-size: 13px;
    color: green;
}

/** FORM ICONS  **/
.fa{
    font-size: 20px;
    color: white;
}
#shipto-form .fa,
h3 .fa-user,
h3 .fa-user-plus,
h3 .fa-user-secret {
    padding-right: 15px;
    color: green;
}
.fa-submit, .fa-shopping-cart{
    padding-left: 15px;

}
.fa-sign-in,
.fa-user-plus,
.fa-user-secret {
    padding-left: 25px;
}
.fa-user-secret {
    padding-left: 15px;
}
.fa-envelope,
.fa-user,
.fa-lock {
    font-size: 20px;
    color: green;
}
md-input-container .fa{
    font-size: 20px;
    color: green;
}
md-input-container label,
md-option {
    font-size:16px;
    color: #233a21;
}
md-datepicker-calendar-icon {
    color: green;
}
.md-datepicker-calendar {
    width: 300px;
}
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: rgb(154, 23, 23);
    color: rgb(7, 235, 215);
}
#guest-checkout-form-cc-exp,
#signup-form-cc-exp {
    font-size:16px;
    color: rgb(35, 58, 33);
}
#guest-checkout-cc-fa,
#signup-cc-fa {
    padding-right:10px;
    color: green;
}
#items-table-header,
#totals-table-header-total{
    background: #c3ecf4;
}

/********************************   END CART - page 2 - w/login forms   ***************************************/
/** Media Query **/
@media screen and (max-width: 640px) {
    #cart-table {
        font-size: 8px;
    }
    #guest-checkout-btn2, #sign-up-btn2 {
        margin-left: 16.66666667%;
    }
    #log-in-btn-ctn{
        margin-left: 16.66666667%;
    }
}