/** Cart Stylesheet ***/
#sign-in,
#sign-up,
#guest-checkout {
    height: 10vh;
}
#log-in-btn,
#sign-up-btn,
#guest-checkout-btn,
#proceed-to-checkout{
    width: 100%;
    height: 5vh;
    display: block;
}
.mdl-button--raised {
    background: rgba(180, 69, 197, .9);
    box-shadow: 2px 2px 4px 2px #8195ce;
    #box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px 2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}
.mdl-button--raised,
.mdl-button,
.mdl-button:hover,
#cart-table,
#totals-table,
.well,
#contact-form-submit-btn,
#shipto-form {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.mdl-button {
    color: white;
}
.mdl-button:hover,
#contact-form-submit-btn:hover {
    #background-color: rgb(229, 153, 240);
    #color: white;
    background-color: rgba(240, 155, 31, 0.8);
    color: #212121;
    font-weight: bold;
    font-size: 130%;
}
.mdl-button--raised:focus:not(:active) {
    background-color: rgba(33, 193, 243, 0.47);
}
.user-login{
    top:   5vh;
    margin-bottom: 5vh;
}
#proceed-to-checkout {
    bottom: 1vh;
}
#proceed-to-checkout button {
    margin-left: 25%;
}
.cart {
    min-height: 80vh;
    position: relative;
}
#cart-table,
#totals-table,
#shipto-form {
    margin-bottom: 5vh;
    position: relative;
    top: 5vh;
    box-shadow: 2px 2px 3px 2px #8195ce;
}
#shipto-form {
    background-color: rgba(33, 193, 243, 0.47);
}
#totals-table {
    top: 1vh;
}
.cart-row {
    height: auto;
    position: relative;
    /*background: url("../images/cart-background.png");*/
    /*background-size: cover;*/
}
/************   END CART - page 1 - w/login   ********************/


.login-forms .container {
    background-color: whitesmoke;
}
.login-form .well,
.signup-form .well,
.guest-checkout-form .well {
    margin-top: 5vh;
    position: relative;
    background-color: rgba(33, 193, 243, 0.47);
    box-shadow: 2px 2px 4px 2px #8195ce;
}
 form div {
     background-color: white;
 }
 .hide-form {
     height: 0;
 }
 .cart-header {
     color: #9c27b0 !important;
     font-size: 1.2em !important;
     font-weight: bold;
 }
.Chocolate, .Cassis, .Coconut, .Coffee, .Lemon, .Pumpkin, .Pistachio, .Raspberry, .Rose, .Caramel, .Almond {
 color: purple !important;
    font-size: 1.2em !important;
    font-weight: bold;
}
.login-forms.ng-hide-add, .login-forms.ng-hide-remove{
    transition: 0s linear all;
}
.login-forms.ng-hide-add-active, .login-forms.ng-hide-remove-active{
    transition: 2s linear all;
}

#place-your-order {
    position: absolute;
    bottom:0;
    right:0;
}
.checkout-buttons {
    color: white !important;
}
/********************************   END CART - page 2 - w/login forms   ***************************************/
/**shipto form positioning to be done**/