/********************************   CART - page 1 - w/login   ***************************************/
#sign-in,
#sign-up,
#guest-checkout,
#cart {
    height: 10vh;
}
#log-in-btn button,
#sign-up-btn button,
#guest-checkout-btn button,
#proceed-to-checkout button{
    width: 100%;
    height: 5vh;
    display: block;
}
.user-login{
    top:   5vh;
    margin-bottom: 5vh;
}
#proceed-to-checkout {
    bottom: 1vh;
}
#proceed-to-checkout button {
    margin-left: 25%;
}
.cart {
    min-height: 80vh;
    position: relative;
}
#cart-table {
    margin-bottom: 10vh;
    position: relative;
    top: 5vh;
    box-shadow:   5px 5px 5px 3px darkgray;
}
.cart-row {
    height: auto;
    position: relative;
    background: url("../images/cart-background.png");
    background-size: cover;
}
/********************************   END CART - page 1 - w/login   ***************************************/

/********************************   CART - page 2 - w/login forms   ***************************************/
.login-forms {
    height: 0;
    -webkit-transition-property: width, height; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: height;
    transition-duration: 2s;
    z-index: -2;
    display: none;
}
.expand-form-signup {
    height: 80vh;
    z-index: 2;
    display: block;
}
.expand-form-login {
    height: 40vh;
    z-index: 2;
    display: block;
}
.expand-form-guest-checkout {
    height: 80vh;
    z-index: 2;
    display: block;
}
.expand-shipto-form {
    height: 20vh;
    z-index: 2;
    display: block;
}
.login-forms .container {
    background-color: whitesmoke;
}
.login-form,
.signup-form,
.guest-checkout-form {
    position: relative;
    top: 4%;
    box-shadow: 5px 5px 5px 3px darkgray;
}
 form div {
     background-color: white;
 }
/********************************   END CART - page 2 - w/login forms   ***************************************/
/**shipto form positioning to be done**/