/** Main Stylesheet **/
*{
    box-sizing: border-box;
}

h6, h5 {
    text-align: center;
}
h3 {
    font-size: 2em;
}
button {
    outline: none;
}
/*html.md-default-theme, html, body.md-default-theme, #contact_info, #contact_email {*/
    /*color:  #6A6969 ;*/
     /*background-color: #F8F2DA;*/
/*}*/
html {
    background-color: #DDECEF;
}
body {
    background-color: #DDECEF;
}
 #contact_info, #contact_email {
    color:  #6A6969 ;
     /*background-color: #F8F2DA;*/
     background-color: #DDECEF;
     padding-top: 0;
}
#contact_info #accordion, #contact_email md-content {
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.38);
    cursor: pointer;
}
/*////////////////////////nav bar///////////////////////////////////*/
#nav {
    background-color: #b22a5e;
    /*background-color: #5e112d;*/
    /*background-color: #880e4f;*/
    /*background-color: #00695c;*/
    /*background-color: #c51162;*/
    /*background-color: #484452;*/
    /*background-color: #C9A798;*/
    color: white;
}
#nav a{
    color: white;
}
.navbar {
    margin-bottom: 0;
}
#nav a:hover {
    /*color: rgb(0, 251, 255)!important;*/
    /*color: #C7AFBD!important;*/
    color: #00fbe3!important;
    font-size: 120%;
}
.mdl-badge[data-badge]:after {
    top: 1px;
}
#macarons-li {
    padding-left:0;
}
/** LOGO **/
#logo {
    width: 165px;
    height: 33px;
    #border: 1px solid green;
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
}

#logo_mp {
    background-image: url("../assets/images/logo_mp.png");
    width: 53px;
    height: 21px;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

#logo_o {
    background-image: url("../assets/images/logo_o.gif");
    width: 21px;
    height: 21px;
    background-size: contain;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 52px;
}

#logo_utique {
    background-image: url("../assets/images/logo_outique.png");
    width: 90px;
    height: 31px;
    background-size: contain;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    right:3px;
}

/*******************EXPERIMENT*****************/
/*/cart badge in nav/*/
.mdl-badge.mdl-badge--overlap:after {
    top:2px;
    color: rgb(0, 255, 188)!important;
}
/*cart tab*/
.fa-shopping-cart {
    font-size: 1.5em;
}
/*nav active color*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a > i {
    background-color: inherit !important;
    color: rgb(0, 251, 255)!important;
    height: 10vh;
}
.navbar-default .navbar-nav > .active > a {
    color: rgb(0, 255, 188)!important;
}

/*///////////////////////banner///////////////////////////*/
#banner-carousel {
    #padding-top: 5%;
    #width: 95%;
    margin: auto;
    height: auto;
    background-color: transparent;
    top: 9vh;
    position: relative;
    padding: 0;
    width: 90%;
}
/*#banner img {*/
    /*margin-top: 5%;*/
    /*padding-bottom: 5%;*/
    /*height: 70vh;*/
/*}*/

/*////////////////////////////index main content/////////////////*/
#main_content {
    height: auto;
    min-height:65vh;
    #margin-bottom: 25vh;
    background-color: #DDECEF;
}

#temp_content{
    padding: 5vh 5vw;
}
.welcome_section-main-content-para {
    /*background-color: whitesmoke;*/
    background-color: #DDECEF;
}
.gifts-party-main-content,
.contacts-section
{
    background-color: #DDECEF;
}
/*///////////////////////footer////////////////*/
footer {
    box-sizing: border-box;
    padding: 10px;
    /*background-color: #00695c;*/
    /*background-color: #880e4f;*/
    /*background-color: #C7AFBD;*/
    background-color: #330033;
    position: relative;
    min-height: 10vh;
    #margin-top: 25vh;
}
footer .fa {
    margin: 2px;
}
ul li {
    list-style-type: none;
    display: inline;
}
.footer_fa, .fa-envelope.footer_fa {
  color: white;
}
.footer_fa:hover,
.fa-envelope.footer_fa:hover {
    color: #00fbff !important;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
    left: 7px;
}
md-fab-toolbar {
    min-height: 70px;
    line-height: 18px;
}
.footer_row {
    min-width: 300px !important;
    margin-right: 23vw !important;
}
.footer_row ul {
    padding-left: 5px;
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}
.copyright {
    padding-left: .5px;
}
md-fab-toolbar md-toolbar .md-toolbar-tools {
    padding: 0 20px;
    margin-top: 10px;
}
._md-fab-toolbar-background {
    background-color: #b22a5e !important;
    /*background-color: rgb(211, 31, 127) !important;*/
}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: rgb(211, 31, 127) !important;
}
.md-button.md-primary.md-fab:not([disabled]) {
    background-color: rgb(178, 42, 94) !important;
}
.md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: rgb(211, 31, 127)!important;
    box-shadow: 3px 2px 5px 1px rgba(26, 194, 255, 0.88)!important;
}
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    color: rgba(255,255,255,0.87);
    background-color: rgb(211, 31, 127) !important;
}
.md-fab.md-fab-bottom-right.ng-isolate-scope._md-animations-ready.md-fab-toolbar.md-left {
    width: 64px !important;
}
.md-fab.md-fab-bottom-right.ng-isolate-scope._md-animations-ready.md-fab-toolbar.md-left.md-is-open {
    width: 100vw !important;
}
/*.fabSpeedDialdemoBasicUsage .text-capitalize {*/
    /*text-transform: capitalize; }*/

/*.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {*/
    /*background-color: #000 !important; }*/

/*.fabSpeedDialdemoBasicUsage p.note {*/
    /*font-size: 1.2rem; }*/

/*.fabSpeedDialdemoBasicUsage .lock-size {*/
    /*min-width: 300px;*/
    /*min-height: 300px;*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*margin-left: auto;*/
    /*margin-right: auto; }*/

/*//////////////////our macaron page///////////////////////////*/
.macaron_text {
    position: relative;
    padding-bottom: 1%;
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 6%;
}
.macaron_text h3 {
    font-size: 2em;
}
#macaron_shop {
    /*background-color: #BBDEFB;*/
    position: relative;
    padding: 1% 6% 5% 0;
    min-height: 200vh;
    height: auto;
    /*border: 1px solid black;*/
}
#macaron_shop p {
    text-align: center;
}
.mac {
    border-radius: 10px;
    display: inline-block;
    padding: 1%;
    border: 1px solid gray;
    margin-bottom: 4%;
    box-shadow: 3px 3px 8px darkgray;
}
.mac_img {
    width: 100%;
    padding: 0 2% 5% 2%;
}
.mac_content {
    min-height: 140px;
}
.mac_price {
    padding: 3% 0;
}
.limited {
    border-color: #ee6e73;
    box-shadow: 3px 3px 8px #f3989b;
}
/*******************EXPERIMENT*************#26a69a;****/
.mdl-button--fab {
    box-shadow: 0px 3px 05px 3px rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.72);
}
.mdl-button--fab.mdl-button--colored {
    background: #26a69a;/*rgba(180, 69, 197, .9);*/
}
.mdl-button--fab.mdl-button--colored:hover {
    background-color: rgba(240, 155, 31, 0.8);
    color: #212121;
    font-weight: bold;
    font-size: 130%;
}
.ordered {
    border-color: lightgreen;
    box-shadow: 3px 3px 8px lightgreen;
}
#main_content {
    /*background-color: #bbf8f2;*/
    /*background-color: #F8F2DA;*/
    /*background-color: #C7AFBD;*/
    background-color: #DDECEF;
}
nav ul li.active {
    background-color: rgba(0, 0, 0, 0);
}
/*******************EXPERIMENT*****************/
/*///////////////////welcome page/////////////////////////////*/
.gifts-party-main-content{
    padding: 2% 6%;
    /*height: 50vh;*/
    height: auto;
    margin-top: 64px;
}
.welcome_section-main-content-para{
    padding: 0 6%;
    height: 50vh;
    margin-top: 13vh;
}
.welcome_section-title {
    font-size: 2em;
}

/*////////////////gifts and parties page////////////////////////*/
.para-style.gift-box-list li {
    display: block;
}
/*////////////////contact page////////////////////////*/
#map_container {
    /*background-color:#F8F2DA;*/
    background-color:#DDECEF;
    height: auto;
    padding-top: 5%;
    margin-bottom:5vh;
}
#map {
    width: 90%;
    margin:64px auto 0 auto;
    /*margin:5% auto auto auto;*/
    height: 60vh;
    /*border: 1px solid black;*/
}
.contact {
    min-height: 50vh;
    /*border: 1px solid black;*/
    padding: 3% 5%;
}
.off_days {
    color: red;
}
#contact_user_email {
    font-weight: bold;
    color : #003366;
}
.contact_submit {
    margin-top: 5%;
    padding-bottom: 10%;
}
.required_field {
    color: red;
}
.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors .md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control,
input[type=email], [type=email].form-control, input.form-control {
    /*border-bottom-width: 1px !important;*/
    border-color: #dddddd;
    border-width: 0 0 1px;
}
.panel-title {
    /*color: #880e4f;*/
    color: #000;
}
.panel-title a:hover {
    text-decoration: none;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #26a69a;
    box-shadow: inset 0 -2px 0 #26a69a;
}
md-input-container.md-default-theme.md-input-invalid .md-input,md-input-container.md-input-invalid .md-input {
    border-color: #dddddd;
}
md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-bumessage-animation, md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter {
    color: #f50057;
}
md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label {
    color: #f50057;
}
md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-message-animation, md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter {
    color: #f50057;
}
#contact-form .fa,
#accordion .fa {
    color: green;
    padding-right: 10px;
}
.contact_fa {
 color: rgb(158, 16, 92)  !important;
}
.contact_in_fa {
   color: #4FD5D6 !important;
}
#contact_thanks {
    /*padding: 1%;*/
    background-color: #ddecef;
    /*box-shadow: 3px 3px 10px gray;*/
    /*margin-top: 2%;*/
}
.panel_body_info {
    padding: 7% 5%;
}
#collapse3 pre {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}
/*//////////////////////////invoice page/////////////////////////////*/
#invoice_page {
    position: relative;
    margin: 5%;
    /*border: 1px solid gray;*/
    padding : 2%;
    background: whitesmoke;
    padding-top: 10vh;
}
#temp_content {
    background: #f8f2da;
}
#site_address, #invoice_info, #invoice_item_table {
    border-bottom: 5px solid #5e112d ;
}
#site_address h4{
    font-weight: bold;
    color : #5e112d;
    padding-left: 5%;
    padding-bottom: 2%;
}
#invoice_user_info, #invoice_order_info, #invoice_info, #invoice_item_table,#invoice_total {
    padding: 3%;
    font-size: 14px;
    color: black;
}
.bold {
    font-weight: bold;
    color : #5e112d;
}
#invoice_thank {
    text-align: center;
    color : #5e112d;
}

/*///////////////////////// logout page /////////////////////*/
.logout-header {
    text-align: center;
    color: red;
}
/*material design*/

/*************************** ALL-PAGES - CAROUSEL  ****************************/
/*#banner {*/
    /*border: 1px solid red;*/
    /*top: 64px;*/
    /*position: relative;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*width: 100%;*/
/*}*/
#welcome-carousel, #banner-others {
    margin-top: 64px;
    height: 54vh;
}
#banner-others img {
    height: 63vh;
    padding: 9vh  0 0 0;
    /*padding-left: 64px;*/
    /*padding-right: 64px;*/
    width: 90%;
    margin: 0 5%;
}
.carousel-inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.carousel-inner > .item > img{
    width: 100%;
    max-height: 100%;
    height: 100%;
    margin: auto;
}
.carousel-inner > .item.avtive {
    height: 50vh;
}
.carousel-caption-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-caption-text1 {
    color: #527200;
    /*color: #7ba219 ;*/
}
.carousel-caption-text2 {
    color: #a13a3d;
}
.carousel-caption-text3 {
    color: #fcad5f;
}
.carousel-caption-text4 {
    color: #bba748;
}
.carousel-caption-text5 {
    color: #842013;
}
/*#welcome-img-6{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/********************** GIFTS & PARTIES SECTION ************************/

.card .card-image.card-gift {
    position: relative;
    height:40vh;
}
.card.card-gift{
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.38);
}
.card-image.card-gift {
    /*background-color: #ddecef;*/
    background-color: rgb(244, 243, 244);
}
.card-title {
    text-align: center;
    #padding-left: 20px;
    #padding-right: 20px;
    font-size: 19px;
}
.card .card-content {
    padding: 20px;
}
.activator  {
    position: relative;
    height: 100%;
    width: 100%;
}
#gifts-card-img1,
#gifts-card-img2,
#gifts-card-img3,
#gifts-card-img4,
#gifts-card-img5,
#gifts-card-img6 {
    -webkit-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#gifts-card-img1 {
    background-image: url('../assets/gifts/box_2.png');
}
#gifts-card-img2 {
    background-image: url('../assets/gifts/assorted_bowl.png');
}
#gifts-card-img3 {
    background-image: url('../assets/gifts/gift-small-box.png');
}
#gifts-card-img4 {
    background-image: url('../assets/gifts/assorted_3tiers.png');
    width: 70%;
}
#gifts-card-img5 {
    background-image: url('../assets/gifts/box_allstar.png');
}
#gifts-card-img6 {
    background-image: url('../assets/gifts/flower_tower.png');
    height: 100%;
    width: 70%;
}
.macaron_text {
    margin-top:5vh;
}
/*///////////////////////media query for portrait///////////////*/
@media screen and (orientation: portrait) {
    /*#main_content {*/
        /*height: auto;*/
        /*min-height:79vh;*/
    /*}*/
    #main_content {
        height: 35vh;
        min-height: 37vh;
    }
}
/*/////////////////media query for mobile////////////*/
@media screen and (max-width: 767px) {
    .mdl-badge.mdl-badge--overlap:after {
        top: 0px;
        right: 80%;
    }
    .carousel-caption-text1 {
        #font-size: 1em;
        display: none;
    }
    /*footer*/
    footer {
        text-align: center;
    }

    #myNavbar {
        background-color: #9D538E;
    }
    #macarons-li {
        padding: 10px 15px;
    }
    #main-content {
        background-color: #DDECEF;
    }
    md-fab-toolbar {
        min-height: 70px;
        line-height: 18px;
    }
    md-toolbar-tools {
        position: relative;
    }
    .footer_row {
        margin-right: 0px !important;
        min-width: 300px !important;
    }

    .footer_row ul {
        text-align: center;
        padding-left: 5px;
        margin-top: 2px !important;
        margin-bottom: 0 !important;
        position: absolute;
        left: 45%;
        top: 0;
        transform: translate(-50%, -50%);
    }
    .copyright {
        display: none;
    }
    .md-fab.md-fab-bottom-right{
        position:fixed !important; z-index: 5 !important; width: 100vw!important;right: 0!important;bottom: 0!important;
    }

    /*macaron page*/
    #macaron_shop {
        padding: 4%;
    }
    .card .card-content {
        padding: 20px;
    }
    p {
        font-size: 16px;
    }
    /*welcome page*/
    .welcome_section-main-content-para, .gifts-party-main-content {
        #padding: 8%;
        margin-top:40px;
    }
    .macaron_text {
        #margin-top:10vh;
    }
}
@media screen and (max-width: 600px) {
    #banner-others img {
        height: 30vh;
        padding: 9vh  0 0 0;
        width: 90vw;
        margin: 0 4vw;
    }
    #welcome-carousel, #banner-others {
        margin-top: 20px;
        height: 25vh;
    }
    #map {
        height: 30vh;
    }
    .welcome_section-main-content-para {
        padding: 0 5%;
        height: 50vh;
        margin-top: 0vh;
    }
}