<!-- CART -->
    <div class="container-fluid" id="cart-page" >
        <div class="row cart-row col-sm-12  col-xs-12">

        <!-----------LOG IN BUTTONS --------------->
            <!--Log In Button-->
            <div ng-show="cartC.showLoginButton()" ng-hide="showLoginButtonDefault" class="user-login col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8 pull-left" id="log-in-btn-ctn" >
                <!-- Raised button with ripple -->
                <button id="log-in-btn" class=" btn btn-lg btn-info" ng-click="cartC.showLoginFormToggle()">
                    Log In <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
            </div> <!-- End Log In Button-->

            <!-- Sign Up! Button-->
            <div ng-show="cartC.showSignUpButton()" ng-hide="showSignUpButtonDefault" class="user-login col-sm-offset-1 col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="sign-up-btn2" >
                <!-- Raised button with ripple -->
                <button id="sign-up-btn"  class=" btn btn-lg btn-info" ng-click="cartC.showSignUpFormToggle()">
                    Sign Up! <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button>
            </div> <!-- End Sign Up! Button-->

            <!-- Checkout As Guest Button-->
            <div ng-show="cartC.showGuestCheckoutButton()" ng-hide="showGuestCheckoutButtonDefault" class="user-login  col-sm-offset-1 col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="guest-checkout-btn2">
                <!-- Raised button with ripple -->
                <button id="guest-checkout-btn" class=" btn btn-lg btn-info" ng-click="cartC.showGuestCheckoutFormToggle()">
                    Guest Checkout <i class="fa fa-user-secret" aria-hidden="true"></i>
                </button>
            </div><!-- End Checkout As Guest Button-->

        <!-----------LOG IN FORMS --------------->

            <!--Log In Form-->
            <div layout="column" ng-cloak="" ng-show="showLoginForm" class =" inputdemoErrors login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="login-form">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header"><i class="fa fa-user" aria-hidden="true"></i>Welcome Back! Please Login</h3>
                        <div class="row">
                            <md-content layout-padding="">
                                <form name="loginForm">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <md-input-container class="md-block">
                                                <div class="col-sm-offset-2 col-sm-8 form-group">
                                                    <label>Your Email Address</label>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <input type="email" required=""  name="user_name"  ng-model="cartC.user.user_name" id="user_name" minlength="8" maxlength="100" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">
                                                    <div ng-messages="loginForm.user_name.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                             This is not a valid e-mail address.
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <div class="col-sm-offset-2 col-sm-8 form-group">
                                                    <label>Password</label>
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    <!--&lt;!&ndash;<input type="password" name="password" id="password" minlength="8" required="" ng-model="cartC.user.password" ng-pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}">-->
                                                    <input type="password" name="password" id="password" minlength="1" required="" ng-model="cartC.user.password" >
                                                    <div ng-messages="loginForm.password.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength','pattern']">
                                                            Your password is required and must be Minimum 8 characters, at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number, and 1 Special Character.
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div><!--row-->
                                        <button id="login-form-submit-btn" type="button" class="col-sm-offset-4 col-sm-4 col-xs-12 btn btn-lg btn-info" ng-click="cartC.hideLoginForm(); cartC.loginBtnValidation()" ng-disabled="loginForm.$invalid" >Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div><!-- End Log in form -->

            <!--Sign Up Form-->
            <div layout="column" ng-cloak=""  ng-show="showSignUpForm" class =" inputdemoErrors login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="signup-form">
                <div class=" signup-form">
                    <div class="col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header"><i class="fa fa-user-plus" aria-hidden="true"></i>Sweet, Let's Sign You Up - This will be a breeze</h3>
                        <div class="row">
                            <md-content layout-padding="">
                                <form name="signUpForm">
                                    <div class="col-sm-12">
                                        <h5> Customer Info: </h5>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>First Name</label>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" name="first_name"  ng-model="cartC.newUser.first_name" minlength="1" maxlength="12" ng-pattern="/^[a-zA-Z]+(([\'\,\.\-][a-zA-Z])?[a-zA-Z]*)*$/">
                                                    <div ng-messages="signUpForm.first_name.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength','pattern']">
                                                            Your first name must be between 1 and 12 characters long.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Last Name</label>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" name="last_name"  ng-model="cartC.newUser.last_name" minlength="1" maxlength="15" ng-pattern="/^[a-zA-Z]+(([\'\,\.\-][a-zA-Z])?[a-zA-Z]*)*$/">
                                                    <div ng-messages="signUpForm.last_name.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                            Your last name must be between 1 and 15 characters long.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-name-->

                                        <div class="row">
                                            <div class="form-group">
                                                <md-input-container class="md-block">
                                                    <label>Address</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <textarea  required="" name="street_address" ng-model="cartC.newUser.street_address" rows="3"  ng-pattern="/^[0-9]+\s+([a-zA-Z]+|[a-zA-Z]+\s[a-zA-Z]+)$/"></textarea>
                                                    <div ng-messages="signUpForm.street_address.$error" role="alert">
                                                        <div ng-message-exp="['required', 'pattern']">
                                                            Your address must include street name and number.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-address-->

                                        <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>City</label><i class="fa fa-building" aria-hidden="true"></i>
                                                        <input type="text" required="" name="city" ng-model="cartC.newUser.city" ng-pattern="/^[a-zA-Z]+[\. - ']?(?:[\s-][a-zA-Z]+)*$/">
                                                        <div ng-messages="signUpForm.city.$error" role="alert">
                                                            <div ng-message-exp="['required', 'pattern']">
                                                                Your correct city's name is required.
                                                            </div><!-- <div ng-message-exp -->
                                                        </div><!--  ng-messages -->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-4 form group -->

                                                <div class="col-sm-4 form-group">
                                                    <md-input-container class="md-block" flex-gt-sm="">
                                                        <label>State</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        <md-select name="state" ng-model="cartC.newUser.state" required="">
                                                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
                                                        </md-select>
                                                        <!--<input type="text" required="" name="state" ng-model="cartC.newUser.state" ng-pattern="/^.+@.+\..+$/">-->
                                                        <div ng-messages="signUpForm.state.$error" role="alert">
                                                            <div ng-message-exp="['required']">
                                                                Your state's name is required.
                                                            </div><!-- <div ng-message-exp -->
                                                        </div><!--  ng-messages -->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-4 form group -->

                                                <div class="col-sm-4 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Zip</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        <input type="number" required="" name="zip" ng-model="cartC.newUser.zip" minlength="5" maxlength="5" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/">
                                                        <div ng-messages="signUpForm.zip.$error" role="alert">
                                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                                Your zipcode must be 5 numbers.
                                                            </div><!-- <div ng-message-exp -->
                                                        </div><!--  ng-messages -->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-4 form group -->
                                        </div><!--row-city-state-zip-->

                                        <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Company</label>
                                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                                        <input type="text" name="company" ng-model="cartC.newUser.company" minlength="2" maxlength="20">
                                                        <div ng-messages="signUpForm.first_name.$error" role="alert">
                                                            <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                                                                Your company's name must be between 2 and 20 characters long.
                                                            </div><!-- <div ng-message-exp -->
                                                        </div><!--  ng-messages -->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->
                                                <div class="col-sm-6 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Attn:</label><i class="fa fa-user" aria-hidden="true"></i>
                                                        <input type="text" name="attn" ng-model="cartC.newUser.attn">
                                                        <!--<div ng-messages="signUpForm.attn.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your first name must be between 1 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-company-attn-->

                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Phone Number</label><i class="fa fa-phone-square" aria-hidden="true"></i>
                                                    <input type="number" required="" name="phone_number" ng-model="cartC.newUser.phone" minlength="10" maxlength="16" ng-pattern="/^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/" >
                                                    <div ng-messages="signUpForm.phone_number.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                            Your phone number needs to be in a valid form.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Email Address</label><i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <input type="email" required="" name="email" ng-model="cartC.newUser.email" minlength="8" maxlength="100" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">
                                                    <div ng-messages="signUpForm.email.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                            Your correct email address is required.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-offset-3 col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Password:</label><i class="fa fa-key" aria-hidden="true"></i>
                                                    <input type="password" required="" name="password" ng-model="cartC.newUser.password" minlength="8" maxlength="100" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/">
                                                    <div ng-messages="signUpForm.password.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                            Your password is required and must be Minimum 8 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-phone-email-pw-->

                                        <div class="row">
                                            <h5> Credit Card Info: </h5>
                                                <div class="col-sm-6 form-group">
                                                        <md-input-container class="md-block">
                                                        <label>Card Number:</label><i class="fa fa-credit-card" aria-hidden="true"></i>
                                                        <input type="number" required="" id="signup-creditcard-number" name="c_card"  ng-model="cartC.newUser.c_card" minlength="15" maxlength="25" ng-pattern="/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/">
                                                        <div ng-messages="signUpForm.c_card.$error" role="alert">
                                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                                Your credit card number must be between 15 and 19 characters long.
                                                            </div><!-- <div ng-message-exp -->
                                                        </div><!--  ng-messages -->
                                                        </md-input-container>

                                                        <!--<md-input-container class="md-block">-->
                                                        <!--<label>Card Type:</label>-->
                                                        <!--<select>-->
                                                            <!--<option value="visa"><i class="fa fa-cc-visa" aria-hidden="true"> Visa</i></option>-->
                                                            <!--<option value="mastercard"><i class="fa fa-cc-mastercard" aria-hidden="true">Master Card</i></option>-->
                                                            <!--<option value="amex"><i class="fa fa-cc-amex" aria-hidden="true">American Express</i></option>-->
                                                            <!--<option value="discover"><i class="fa fa-cc-discover" aria-hidden="true">Discover</i></option>-->
                                                        <!--</select>-->
                                                        <!--</md-input-container>-->


                                                        <!--<md-input-container class="md-block">-->
 <div class="datepicker">                                  <i class="fa fa-credit-card"  id="signup-cc-fa" aria-hidden="true"></i> <label id="signup-form-cc-exp">Expiration Date</label>
     <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                                                            <md-datepicker ng-model="cartC.newUser.c_card_exp" md-placeholder="Enter date">                                                            </md-datepicker>
 </div>

                                                        <!--<div ng-messages="signUpForm.first_name.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your first name must be between 1 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                        <!--</md-input-container>-->
                                                </div><!-- class="col-sm-6 form group -->

                                                <div class="col-sm-6 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Name On Card</label><i class="fa fa-user" aria-hidden="true"></i>
                                                        <input type="text" required="" id="signup-name-on-card" ng-model="cartC.newUser.name_on_card" minlength="2" maxlength="100" ng-pattern="/^([A-z\'\.-ᶜ]*(\s))+[A-z\'\.-ᶜ]*$/">
                                                        <div ng-messages="signUpForm.name_on_card.$error" role="alert">
                                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                                This field is required..
                                                            </div><!-- <div ng-message-exp -->
                                                        </div><!--  ng-messages -->
                                                    </md-input-container>

                                                    <md-input-container class="md-block">
                                                        <label>Billing Address</label><i class="fa fa-building-o" aria-hidden="true"></i>
                                                        <input type="text" required="" id="signup-billing-address" ng-model="cartC.newUser.card_billing_address">
                                                        <!--<div ng-messages="signUpForm.first_name.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your billing address must be between 10 and 100 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-->
                                        <button id="signup-form-submit-btn" type="button" class="col-sm-offset-4 col-sm-4 col-xs-12 btn btn-lg btn-info" ng-click="cartC.hideSignUpForm(); cartC.hideLoginButtons(); cartC.signUpFormSubmission()" ng-disabled="signUpForm.$invalid">Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </md-content>
                        </div><!--row-->
                    </div>
                </div>
            </div><!-- End Sign Up form -->

            <!-- Guest Checkout Form-->
            <div layout="column" ng-cloak=""  ng-show="showGuestCheckoutForm" class =" inputdemoErrors login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="guestcheckout-form">
                <div class="guest-checkout-form">
                    <div class="col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header"><i class="fa fa-user-secret" aria-hidden="true"></i>Checkout As Guest</h3>
                        <div class="row">
                            <md-content layout-padding="">
                                <form name="guestCheckoutForm">
                                    <div class="col-sm-12">
                                        <h5> Customer Info: </h5>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>First Name</label>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" name="first_name"  ng-model="cartC.guestUser.first_name" minlength="1" maxlength="40" ng-pattern="/^[a-zA-Z]+(([\'\,\.\-][a-zA-Z])?[a-zA-Z]*)*$/">
                                                    <div ng-messages="guestCheckoutForm.first_name.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your first name must be between 1 and 40 characters long.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Last Name</label>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" name="last_name"  ng-model="cartC.guestUser.last_name" minlength="1" maxlength="40" ng-pattern="/^[a-zA-Z]+(([\'\,\.\-][a-zA-Z])?[a-zA-Z]*)*$/">
                                                    <div ng-messages="guestCheckoutForm.last_name.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your last name must be between 1 and 40 characters long.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-name-->

                                        <div class="row">
                                            <div class="form-group">
                                                <md-input-container class="md-block">
                                                    <label>Address</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <textarea  required="" name="street_address" ng-model="cartC.guestUser.street_address" rows="3"  ng-pattern="/^[0-9]+\s+([a-zA-Z]+|[a-zA-Z]+\s[a-zA-Z]+)$/"></textarea>
                                                    <div ng-messages="guestCheckoutForm.street_address.$error" role="alert">
                                                        <div ng-message-exp="['required', 'pattern']">
                                                            Your address must include street name and number.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-address-->

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <md-input-container class="md-block">
                                                    <label>City</label><i class="fa fa-building" aria-hidden="true"></i>
                                                    <input type="text" required="" name="city" ng-model="cartC.guestUser.city" ng-pattern="/^[a-zA-Z]+[\. - ']?(?:[\s-][a-zA-Z]+)*$/">
                                                    <div ng-messages="guestCheckoutForm.city.$error" role="alert">
                                                    <div ng-message-exp="['required','pattern']">
                                                    Your correct city's name is required.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-4 form group -->

                                            <div class="col-sm-4 form-group">
                                                <md-input-container class="md-block" flex-gt-sm="">
                                                    <label>State</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <md-select name="state" ng-model="cartC.guestUser.state" required="">
                                                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
                                                    </md-select>
                                                    <!--<input type="text" required="" name="state" ng-model="cartC.guestUser.state" ng-pattern="/^.+@.+\..+$/">-->
                                                    <div ng-messages="guestCheckoutForm.state.$error" role="alert">
                                                    <div ng-message-exp="['required']">
                                                    Your state's name is required.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-4 form group -->

                                            <div class="col-sm-4 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Zip</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <input type="number" required="" name="zip" ng-model="cartC.guestUser.zip" minlength="5" maxlength="5" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/">
                                                    <div ng-messages="guestCheckoutForm.zip.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your zipcode must be 5 numbers.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-4 form group -->
                                        </div><!--row-city-state-zip-->

                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Company</label>
                                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                                    <input type="text" name="company" ng-model="cartC.guestUser.company" minlength="2" maxlength="20">
                                                    <div ng-messages="guestCheckoutForm.first_name.$error" role="alert">
                                                    <div ng-message-exp="['minlength', 'maxlength']">
                                                    Your company's name must be between 1 and 20 characters long.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Attn:</label><i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" name="attn" ng-model="cartC.guestUser.attn">
                                                    <!--<div ng-messages="guestCheckoutForm.attn.$error" role="alert">-->
                                                    <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                    <!--Your first name must be between 1 and 50 characters long.-->
                                                    <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-company-attn-->

                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Phone Number</label><i class="fa fa-phone-square" aria-hidden="true"></i>
                                                    <input type="number" required="" name="phone_number" ng-model="cartC.guestUser.phone" minlength="10" maxlength="16" ng-pattern="/^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/" >
                                                    <div ng-messages="guestCheckoutForm.phone_number.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your phone number needs to be in a valid form.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Email Address</label><i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <input type="email" required="" name="email" ng-model="cartC.guestUser.email" minlength="8" maxlength="100" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">
                                                    <div ng-messages="guestCheckoutForm.email.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your email address is required.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-phone-email-pw-->

                                        <div class="row">
                                            <h5> Credit Card Info: </h5>
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Card Number:</label><i class="fa fa-credit-card" aria-hidden="true"></i>
                                                    <input type="number" required="" id="guest-creditcard-number" name="c_card"  ng-model="cartC.guestUser.c_card" minlength="15" maxlength="25" ng-pattern="/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/">
                                                    <div ng-messages="guestCheckoutForm.c_card.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength','pattern']">
                                                    Your credit card number must be between 15 and 19 characters long.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>

                                                <!--<md-input-container class="md-block">-->
                                                <!--<label>Card Type:</label>-->
                                                <!--<select>-->
                                                <!--<option value="visa"><i class="fa fa-cc-visa" aria-hidden="true"> Visa</i></option>-->
                                                <!--<option value="mastercard"><i class="fa fa-cc-mastercard" aria-hidden="true">Master Card</i></option>-->
                                                <!--<option value="amex"><i class="fa fa-cc-amex" aria-hidden="true">American Express</i></option>-->
                                                <!--<option value="discover"><i class="fa fa-cc-discover" aria-hidden="true">Discover</i></option>-->
                                                <!--</select>-->
                                                <!--</md-input-container>-->


                                                <!--<md-input-container class="md-block">-->
                                                <i class="fa fa-credit-card" id="guest-checkout-cc-fa" aria-hidden="true"></i><label id="guest-checkout-form-cc-exp">Expiration Date</label>
                                                <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                                                <md-datepicker ng-model="cartC.guestUser.c_card_exp" md-placeholder="Enter date" >
                                                    <!--<input type="date" required="" id="signup-credit-card-exp" ng-model="cartC.guestUser.c_card_exp">-->
                                                </md-datepicker>

                                                <!--<div ng-messages="guestCheckoutForm.first_name.$error" role="alert">-->
                                                <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                <!--Your first name must be between 1 and 50 characters long.-->
                                                <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                <!--</md-input-container>-->
                                            </div><!-- class="col-sm-6 form group -->

                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Name On Card</label><i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" id="guest-name-on-card" ng-model="cartC.guestUser.name_on_card" minlength="2" maxlength="100" ng-pattern="/^([A-z\'\.-ᶜ]*(\s))+[A-z\'\.-ᶜ]*$/">
                                                    <div ng-messages="guestCheckoutForm.name_on_card.$error" role="alert">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    This field is required.
                                                    </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>

                                                <md-input-container class="md-block">
                                                    <label>Billing Address</label><i class="fa fa-building-o" aria-hidden="true"></i>
                                                    <input type="text" required="" id="guest-billing-address" ng-model="cartC.guestUser.card_billing_address">
                                                    <!--<div ng-messages="guestCheckoutForm.first_name.$error" role="alert">-->
                                                    <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                    <!--Your billing address must be between 10 and 100 characters long.-->
                                                    <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-->
                                        <button id="guest-checkout-form-submit-btn" type="button" class="col-sm-offset-4 col-sm-4 col-xs-12 btn btn-lg btn-info" ng-click="cartC.hideGuestCheckoutForm(); cartC.hideLoginButtons();cartC.guestCheckoutFormSubmission()" ng-disabled="guestCheckoutForm.$invalid" >Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </md-content>
                        </div><!--row-->
                    </div>
                </div>
            </div><!-- End Guest Checkout form -->

            <!-- Ship-to Form -->
            <div ng-show="showShipToForm" class ="login-forms col-sm-offset-2 col-sm-8 col-xs-12 " id="shipto-form">
                <div class=" shipto-form">
                    <h4 class="well">Awesome! Please Verify Your Shipping And Payment Info: </h4>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h5> Shipping Info: </h5>
                                            <i class="fa fa-user" aria-hidden="true"></i><label>Ship To</label>
                                            <input type="text" class="form-control" id="shipto-name" ng-model="cartC.finalizedOrder.customer.name">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i><label>Address</label>
                                            <input class="form-control" id="shipto-address" placeholder="12345 Parksingide Road, City, State, Zipcode" ng-model="cartC.finalizedOrder.customer.address">
                                            <i class="fa fa-user" aria-hidden="true"></i><label>Attention To:</label>
                                            <input class="form-control" id="shipto-attn" placeholder="attn:/ Micah Grodezetsky" ng-model="cartC.finalizedOrder.customer.attn">
                                            <i class="fa fa-building-o" aria-hidden="true"></i><label>Company</label>
                                            <input class="form-control" id="shipto-company" placeholder=" Learning Fuze " ng-model="cartC.finalizedOrder.customer.company">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <h5> Credit Card On File </h5>
                                            <i class="fa fa-credit-card" aria-hidden="true"></i><label>Card Number:</label>
                                            <input class="form-control" id="shipto-creditcard-number" placeholder="****4353" ng-model="cartC.finalizedOrder.customer.c_card_display">
                                            <i class="fa fa-calendar" aria-hidden="true"></i><label>Expiration Date</label>
                                            <input class="form-control" id="shipto-credit-card-exp" placeholder="12/2019" ng-model="cartC.finalizedOrder.customer.c_card_exp">

                                            <i class="fa fa-user" aria-hidden="true"></i><label>Name On Card</label>
                                            <input class="form-control" id="shipto-name-on-card" placeholder="Micah Grodezetsky" ng-model="cartC.finalizedOrder.customer.name_on_card">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Shipto Form -->

        <!--------------- CART TABLE ------------>
            <div class="cart col-sm-offset-1 col-sm-10 col-xs-12" id="cart">

                <!-- Items Table-->
                <table class="table-striped col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table mdl-js-data-table  mdl-shadow--2dp" id="cart-table"><!-- mdl-data-table--selectable -->
                    <thead>
                        <tr id="items-table-header">
                            <th class="mdl-data-table__cell--non-numeric cart-header">Flavor</th>
                            <th class="cart-header">Quantity</th>
                            <th class="cart-header">Unit Price</th>
                            <th class="cart-header">Extended Price</th>
                        </tr>
                    </thead>
                    <!--cartC.user.isLoggedIn ? macaron.name : 'macaron.name + showLowInventory'-->
                    <tbody>
                        <tr ng-repeat="macaron in cartC.cart.macaron_array | filter: filter" >
                            <td class="mdl-data-table__cell--non-numeric" ng-id="{{macaron.name}}" >{{macaron.name}}</td>
                            <td ng-id="{{macaron.ordered}}" >{{macaron.ordered}}</td>
                            <td ng-id="{{macaron.price}}" >$ {{macaron.price}}</td>
                            <td ng-id="{{macaron.price}}" >$ {{ cartC.addSubTotal(macaron.ordered, macaron.price) }}</td>
                        </tr>

                    </tbody>
                </table> <!-- End Items Table-->

                <!-- Totals Table-->
                <table class="table-striped col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table mdl-js-data-table  mdl-shadow--2dp" id="totals-table"><!-- mdl-data-table--selectable -->
                    <tbody>
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Subtotal</td>
                            <td class="cart-header">$ {{ cartC.cart.subTotal }}</td>
                        </tr><!-- Subtotal -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Taxes</td>
                            <td class="cart-header">$ {{cartC.cart.tax}}</td>
                        </tr><!-- Taxes -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Shipping</td>
                            <td class="cart-header">$ {{cartC.shipping}}</td>
                        </tr><!-- Shipping -->
                        <tr id="totals-table-header-total">
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Total</td>
                            <td class="cart-header">$ {{cartC.cart.totalCost}}</td>
                        </tr><!-- Total -->
                    </tbody>
                </table> <!-- End Totals Table-->

                <!-- Checkout Buttons-->
                <div ng-show="showProceedToCheckoutButton" id="proceed-to-checkout">
                    <button ng-show="showProceedToCheckoutButton" ng-hide="cartC.showProceedToCheckoutButton" class="col-sm-offset-5 col-sm-2 col-xs-offset-1 col-xs-10 btn btn-lg btn-info checkout-buttons" ng-click="cartC.proceedToCheckout()">
                        Proceed To Checkout <i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i>
                    </button>
                </div>
                <a href="#invoice" ><div ng-show="showPlaceYourOrderButton" class="checkout-buttons " id="place-your-order-btn">
                    <!-- Raised button with ripple -->
                    <button class="col-sm-offset-5 col-sm-2 col-xs-offset-1 col-xs-10 btn btn-lg btn-info checkout-buttons" ng-click="cartC.placeYourOrder()">Place Your Order<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>
                </div></a> <!-- End Checkout Buttons-->
            </div><!-- End CART TABLE-->
        </div><!-- row-->
    </div><!-- container -->

