<!-- CART -->
    <div class="container-fluid" id="cart-page" >
        <div class="row cart-row col-lg-offset-1 col-lg-10  col-sm-offset-1 col-sm-10  col-xs-12">

        <!-----------LOG IN BUTTONS --------------->
            <!--Log In Button-->
            <div ng-show="showLoginButton" class="user-login col-lg-offset-2 col-lg-2  col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="log-in-btn-ctn" >
                <!-- Raised button with ripple -->
                <button id="log-in-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="cartC.showLoginFormToggle()">
                    Log In
                </button>
            </div> <!-- End Log In Button-->

            <!-- Sign Up! Button-->
            <div ng-show="showSignUpButton" class="user-login col-lg-offset-1 col-lg-2  col-sm-offset-1 col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="sign-up-btn2" >
                <!-- Raised button with ripple -->
                <button id="sign-up-btn"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="cartC.showSignUpFormToggle()">
                    Sign Up!
                </button>
            </div> <!-- End Sign Up! Button-->

            <!-- Checkout As Guest Button-->
            <div ng-show="showGuestCheckoutButton" class="user-login col-lg-offset-1 col-lg-2  col-sm-offset-1 col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="guest-checkout-btn2">
                <!-- Raised button with ripple -->
                <button id="guest-checkout-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="cartC.showGuestCheckoutFormToggle()">
                    Checkout As Guest
                </button>
            </div><!-- End Checkout As Guest Button-->

        <!-----------LOG IN FORMS --------------->
            <!--Log In Form-->
            <div ng-show="showLoginForm" class =" login-forms col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12" id="login-form">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header">Welcome Back! Please Login</h3>
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Your Email Address</label>
                                            <input type="text" placeholder="Enter Your Email Here.." name="user_name" id="user_name" class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Password</label>
                                            <input type="password" placeholder="Enter Password Here.." name="password" id="password" class="form-control">
                                        </div>
                                    </div>
                                    <button id="login-form-submit-btn" type="button" class="btn btn-lg btn-info" ng-click="cartC.showShipToForm_logInBtn(); cartC.loginBtnValidation()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Log in form -->

            <!--Sign Up Form-->
            <div ng-show="showSignUpForm" class =" login-forms col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12" id="signup-form">
                <div class=" signup-form">
                    <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header">Sign Up Form</h3>
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>First Name</label>
                                            <input type="text" name="first_name" placeholder="Enter First Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Last Name</label>
                                            <input type="text" name="last_name" placeholder="Enter Last Name Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea  name="street_address" placeholder="Enter Street Address Here.." rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>City</label>
                                            <input type="text" name="city" placeholder="Enter City Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>State</label>
                                            <input type="text" name="state" placeholder="Enter State Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Zip</label>
                                            <input type="text" name="zip" placeholder="Enter Zip Code Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Company</label>
                                            <input type="text" name="company" placeholder="Enter Company Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Attn:</label>
                                            <input type="text" name="attn" placeholder="Attention To: ..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Phone Number</label>
                                        <input type="text" name="phone_number" placeholder="Enter Phone Number Here.." class="form-control">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Email Address</label>
                                        <input type="text" name="email" placeholder="Enter Email Address Here.." class="form-control">
                                    </div>
                                    <button id="signup-form-submit-btn" type="button" class="btn btn-lg btn-info" ng-click="cartC.showShipToForm_signUpBtn()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Sign Up form -->

            <!-- Guest Checkout Form-->
            <div ng-show="showGuestCheckoutForm" class =" login-forms col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12" id="guestcheckout-form">
                <div class=" guest-checkout-form">
                    <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header">Checkout As Guest</h3>
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>First Name</label>
                                            <input type="text" name="first_name" placeholder="Enter First Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Last Name</label>
                                            <input type="text" name="last_name" placeholder="Enter Last Name Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea name="street_address" placeholder="Enter Street Address Here.." rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>City</label>
                                            <input type="text" name="city" placeholder="Enter City Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>State</label>
                                            <input type="text" name="state" placeholder="Enter State Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Zip</label>
                                            <input type="text" name="zip" placeholder="Enter Zip Code Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Company</label>
                                            <input type="text" name="company" placeholder="Enter Company Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Attn:</label>
                                            <input type="text" name="attn" placeholder="Attention To: ..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Phone Number</label>
                                        <input type="text" name="phone_number" placeholder="Enter Phone Number Here.." class="form-control">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Email Address</label>
                                        <input type="text" name="email" placeholder="Enter Email Address Here.." class="form-control">
                                    </div>
                                    <button id="guest-checkout-form-submit-btn" type="button" class="btn btn-lg btn-info" ng-click="cartC.showShipToForm_guestCheckoutBtn()" >Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Guest Checkout form-->

            <!-- Ship-to Form -->
            <div ng-show="showShipToForm" class ="login-forms col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8 col-xs-12 " id="shipto-form">
                <div class=" shipto-form">
                    <h4 class="well">Thank You! Please Verify Your Shipping And Payment Info: </h4>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h5> Shipping </h5>
                                            <label>Ship To</label>
                                            <input type="text" class="form-control" id="shipto-name" ng-model="cartC.customer.name">
                                            <label>Address</label>
                                            <input class="form-control" id="shipto-address" placeholder="12345 Parksingide Road, City, State, Zipcode" ng-model="cartC.customer.address">
                                            <label>Attention To:</label>
                                            <input class="form-control" id="shipto-attn" placeholder="attn:/ Micah Grodezetsky" ng-model="cartC.customer.attn">
                                            <label>Company</label>
                                            <input class="form-control" id="shipto-company" placeholder=" Learning Fuze " ng-model="cartC.customer.company">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <h5> Credit Card </h5>
                                            <label>Card Number:</label>
                                            <input class="form-control" id="shipto-creditcard-number" placeholder="****4353" ng-model="cartC.customer.c_card">
                                            <label>Expiration Date</label>
                                            <input class="form-control" id="shipto-credit-card-exp" placeholder="12/2019" ng-model="cartC.customer.c_card_exp">

                                            <label>Name On Card</label>
                                            <input class="form-control" id="shipto-name-on-card" placeholder="Micah Grodezetsky" ng-model="cartC.customer.name_on_card">


                                        </div>
                                            <!-- Checkout Button-->
                                            <div class="col-sm-6" id="place-your-order">
                                                <button class="mdl-button mdl-js-button mdl-button--raised disabled" ng-click="cartC.proceedToCheckout()">Place Your Order</button>
                                            </div> <!-- End Checkout Button-->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Shipto Form -->

        <!--------------- CART TABLE ------------>
            <div class="cart col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12" id="cart">

                <!-- Items Table-->
                <table class="table-striped col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table mdl-js-data-table  mdl-shadow--2dp" id="cart-table"><!-- mdl-data-table--selectable -->
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric cart-header">Flavor</th>
                            <th class="cart-header">Quantity</th>
                            <th class="cart-header">Unit Price</th>
                            <th class="cart-header">Extended Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="macaron in cartC.cart.macaron_array | filter: filter" >
                            <td class="mdl-data-table__cell--non-numeric" ng-id="macaron.name" ng-class="{{macaron.name}}">{{macaron.name}}</td>
                            <td ng-id="macaron.ordered" ng-class="{{macaron.name}}">{{macaron.ordered}}</td>
                            <td ng-id="macaron.price" ng-class="{{macaron.name}}">$ {{macaron.price}}</td>
                            <td ng-id="macaron.price" ng-class="{{macaron.name}}">$ {{ cartC.addSubTotal(macaron.ordered, macaron.price) }}</td>
                        </tr>

                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric"  ng-hide="cartC.cart.subTotal > 0">This Cart is Starving, Fill it Up with Some delicious Macarons!!!</td>

                        </tr><!-- Empty Cart message row -->
                    </tbody>
                </table> <!-- End Items Table-->

                <!-- Totals Table-->
                <table class="table-striped col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table mdl-js-data-table  mdl-shadow--2dp" id="totals-table"><!-- mdl-data-table--selectable -->
                    <tbody>
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Subtotal</td>
                            <td class="cart-header">$ {{ cartC.cart.subTotal }}</td>
                        </tr><!-- Subtotal -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Taxes</td>
                            <td class="cart-header">$ {{cartC.cart.tax}}</td>
                        </tr><!-- Taxes -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Shipping</td>
                            <td class="cart-header">$ {{cartC.shipping}}</td>
                        </tr><!-- Shipping -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Total</td>
                            <td class="cart-header">$ {{cartC.cart.totalCost}}</td>
                        </tr><!-- Total -->
                    </tbody>
                </table> <!-- End Totals Table-->

                <!-- Checkout Button-->
                <div ng-show="showProceedToCheckoutButton" class="col-lg-offset-6 col-lg-3 col-lg-offset-right-3 col-sm-offset-6 col-sm-3 col-sm-offset-right-3 col-xs-12" id="proceed-to-checkout">
                    <!-- Raised button with ripple -->
                    <button class="mdl-button mdl-js-button mdl-button--raised disabled" ng-click="cartC.proceedToCheckout()">
                        Proceed To Checkout
                    </button>
                </div> <!-- End Checkout Button-->
            </div><!-- End CART TABLE-->
        </div><!-- row-->
    </div><!-- container -->
