<!-- CART -->
    <div class="container-fluid" id="cart-page" >
        <div class="row cart-row col-sm-offset-1 col-sm-10  col-xs-12">

        <!-----------LOG IN BUTTONS --------------->
            <!--Log In Button-->
            <div ng-show="cartC.showLoginButton()" ng-hide="showLoginButtonDefault" class="user-login col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="log-in-btn-ctn" >
                <!-- Raised button with ripple -->
                <button id="log-in-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="cartC.showLoginFormToggle()">
                    Log In <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
            </div> <!-- End Log In Button-->

            <!-- Sign Up! Button-->
            <div ng-show="cartC.showSignUpButton()" ng-hide="showSignUpButtonDefault" class="user-login col-sm-offset-1 col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="sign-up-btn2" >
                <!-- Raised button with ripple -->
                <button id="sign-up-btn"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="cartC.showSignUpFormToggle()">
                    Sign Up! <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button>
            </div> <!-- End Sign Up! Button-->

            <!-- Checkout As Guest Button-->
            <div ng-show="cartC.showGuestCheckoutButton()" ng-hide="showGuestCheckoutButtonDefault" class="user-login  col-sm-offset-1 col-sm-offset-2 col-sm-2  col-xs-offset-2 col-xs-8" id="guest-checkout-btn2">
                <!-- Raised button with ripple -->
                <button id="guest-checkout-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="cartC.showGuestCheckoutFormToggle()">
                    Guest Checkout <i class="fa fa-user-secret" aria-hidden="true"></i>
                </button>
            </div><!-- End Checkout As Guest Button-->

        <!-----------LOG IN MESSAGES -------- showCurrentUserPlzLoginMessage------->

            <!-- Empty Cart Message-->
            <div ng-hide="cartC.cart.subTotal > 0" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="empty-cart-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">You Can Not Buy From an Empty Cart. Feed It Some Delicious Macarons!!!</h4>
                    </div>
                </div>
            </div><!-- End Empty Cart Message -->

            <!-- Buy Empty Cart Message-->
            <div ng-show="showYouCantBuyFromAnEmptyCartMessage" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="buy-empty-cart-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">You Can Not Buy From an Empty Cart!!!</h4>
                    </div>
                </div>
            </div><!-- End Buy Empty Cart Message -->

            <!-- Please Log In Message-->
            <div ng-show="showPlzLoginMessage" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="login-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">Please Choose Login, Sign Up, or Checkout As Guest First</h4>
                    </div>
                </div>
            </div><!-- End Please Log in Message -->

            <!-- Please Log In Message-->
            <div ng-show="showCurrentUserPlzLoginMessage" class =" login-forms  col-sm-offset-1 col-sm-10 col-xs-12" id="user-exists-login-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">It looks like you've already registered, please log in using your email and password.</h4>
                    </div>
                </div>
            </div><!-- End Please Log in Message -->

            <!-- Login Failed Message-->
            <div ng-show="showLoginFailedMessage" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="login-failed-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">Login Error: Username or Password is Incorrect!</h4>
                    </div>
                </div>
            </div><!-- End Login Failed Message -->

            <!-- Thanks For Logging In Message-->
            <div ng-show="showThnxLoginMessage" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="thnx-login-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">Thanks For Logging In {{cartC.user.firstName}} ! You're very good looking today!</h4>
                    </div>
                </div>

            </div><!-- End Thanks For For Logging In Message -->

            <!-- Thanks For Signing Up Message-->
            <div ng-show="showThanksSigningUpMessage" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="signing-up-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">Thanks For Signing Up {{cartC.user.firstName}} ! You're very good looking today!</h4>
                    </div>
                </div>
            </div><!-- End Thanks For Signing Up Message -->

            <!-- Thanks For Guest Checkout Message-->
            <div ng-show="showGuestCheckOutMessage" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="guest-checkout-message">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h4 class="login-header" style="text-align: center">Thanks {{cartC.user.firstName}} ! You're very good looking today!</h4>
                    </div>
                </div>
            </div><!-- End Thanks For Guest Checkout Message -->

        <!-----------LOG IN FORMS --------------->
            <!--&lt;!&ndash;Log In Form&ndash;&gt;-->
            <!--<div ng-show="showLoginForm" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="login-form">-->
                <!--<div class=" login-form">-->
                    <!--<div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">-->
                        <!--<h3 class="login-header">Welcome Back! Please Login</h3>-->
                        <!--<div class="row">-->
                            <!--<form>-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Your Email Address</label>-->
                                            <!--<input type="text" placeholder="Enter Your Email Here.." name="user_name" id="user_name" class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Password</label>-->
                                            <!--<input type="password" placeholder="Enter Password Here.." name="password" id="password" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<button id="login-form-submit-btn" type="button" class="btn btn-lg btn-info" ng-click="cartC.hideLoginForm(); cartC.loginBtnValidation()">Submit</button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; End Log in form &ndash;&gt;-->

            <!--Log In Form-->
            <div layout="column" ng-cloak="" ng-show="showLoginForm" class =" inputdemoErrors login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="login-form">
                <div class=" login-form">
                    <div class=" col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header"><i class="fa fa-user" aria-hidden="true"></i>Welcome Back! Please Login</h3>
                        <div class="row">
                            <md-content layout-padding="">
                                <form name="loginForm">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <md-input-container class="md-block">
                                                <div class="col-sm-offset-2 col-sm-8 form-group">
                                                    <label>Your Email Address</label>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <input type="email" required=""  name="user_name" id="user_name" minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                                                    <div ng-messages="loginForm.user_name.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                             Your email must be between 8 and 100 characters long and look like an e-mail address.
                                                        </div>
                                                    </div>

                                                </div>

                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <div class="col-sm-offset-2 col-sm-8 form-group">
                                                    <label>Password</label>
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    <input type="password" name="password" id="password" minlength="2" required="">

                                                    <div ng-messages="loginForm.password.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength']">
                                                            Your password is required and must be at least 2 characters.
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div><!--row-->
                                        <button id="login-form-submit-btn" type="button" class="col-sm-offset-5 col-sm-3 col-xs-offset-3 col-xs-6 btn btn-lg btn-info" ng-click="cartC.hideLoginForm(); cartC.loginBtnValidation()">Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>

                                    </div>
                                </form>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div><!-- End Log in form -->


            <!--&lt;!&ndash;Sign Up Form&ndash;&gt;-->
            <!--<div ng-show="showSignUpForm" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="signup-form">-->
                <!--<div class=" signup-form">-->
                    <!--<div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">-->
                        <!--<h3 class="login-header"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up Form - This will be a breeze</h3>-->
                        <!--<div class="row">-->
                            <!--<form>-->
                                <!--<div class="col-sm-12">-->
                                    <!--<h5> Customer Info: </h5>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>First Name</label>-->
                                            <!--<input type="text" name="first_name"  ng-model="cartC.newUser.first_name" placeholder="Enter First Name Here.." class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Last Name</label>-->
                                            <!--<input type="text" name="last_name"  ng-model="cartC.newUser.last_name" placeholder="Enter Last Name Here.." class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Address</label>-->
                                        <!--<textarea  name="street_address" ng-model="cartC.newUser.street_address" placeholder="Enter Street Address Here.." rows="3" class="form-control"></textarea>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-4 form-group">-->
                                            <!--<label>City</label>-->
                                            <!--<input type="text" name="city" ng-model="cartC.newUser.city" placeholder="Enter City Name Here.." class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4 form-group">-->
                                            <!--<label>State</label>-->
                                            <!--<input type="text" name="state" ng-model="cartC.newUser.state" placeholder="Enter State Name Here.." class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4 form-group">-->
                                            <!--<label>Zip</label>-->
                                            <!--<input type="text" name="zip" ng-model="cartC.newUser.zip" placeholder="Enter Zip Code Here.." class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Company</label>-->
                                            <!--<input type="text" name="company" ng-model="cartC.newUser.company" placeholder="Enter Company Name Here.." class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Attn:</label>-->
                                            <!--<input type="text" name="attn" ng-model="cartC.newUser.attn" placeholder="Attention To: ..." class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Phone Number</label>-->
                                            <!--<input type="text" name="phone_number" ng-model="cartC.newUser.phone" placeholder="Enter Phone Number Here.." class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Email Address</label>-->
                                            <!--<input type="text" name="email" ng-model="cartC.newUser.email" placeholder="Enter Email Address Here.." class="form-control">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-offset-3 col-sm-6 form-group">-->
                                            <!--<label>Password:</label>-->
                                            <!--<input type="text" name="password" ng-model="cartC.newUser.password" placeholder="Enter A Password Here.." class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<h5> Credit Card Info: </h5>-->
                                        <!--<div class="col-sm-6 form-group">                                                                         <label>Card Number:</label>-->
                                            <!--<input class="form-control" id="signup-creditcard-number" placeholder=""  ng-model="cartC.newUser.c_card">-->
                                            <!--<label>Expiration Date</label>-->
                                            <!--<input class="form-control" id="signup-credit-card-exp" placeholder="" ng-model="cartC.newUser.c_card_exp">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6 form-group">-->
                                            <!--<label>Name On Card</label>-->
                                            <!--<input class="form-control" id="signup-name-on-card" ng-model="cartC.newUser.name_on_card" placeholder=" Name on Credit Card">-->
                                            <!--<label>Billing Address</label>-->
                                            <!--<input class="form-control" id="signup-billing-address" ng-model="cartC.newUser.card_billing_address" placeholder=" Enter Billing Address of Card">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<button id="signup-form-submit-btn" type="button" class="col-sm-offset-5 col-sm-3 col-xs-offset-3 col-xs-6 btn btn-lg btn-info" ng-click="cartC.hideSignUpForm(); cartC.hideLoginButtons(); cartC.signUpFormSubmission()">Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; End Sign Up form &ndash;&gt;-->

            <!--Sign Up Form-->
            <div layout="column" ng-cloak=""  ng-show="showSignUpForm" class =" inputdemoErrors login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="signup-form">
                <div class=" signup-form">
                    <div class="col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up Form - This will be a breeze</h3>
                        <div class="row">
                            <md-content layout-padding="">
                                <form name="signUpForm">
                                    <div class="col-sm-12">
                                        <h5> Customer Info: </h5>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>First Name</label>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" name="first_name"  ng-model="cartC.newUser.first_name" minlength="1" maxlength="50" ng-pattern="/^.+@.+\..+$/">
                                                    <!--<div ng-messages="signUpForm.first_name.$error" role="alert">-->
                                                        <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                            <!--Your first name must be between 1 and 50 characters long.-->
                                                        <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Last Name</label>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <input type="text" required="" name="last_name"  ng-model="cartC.newUser.last_name"  ng-pattern="/^.+@.+\..+$/">
                                                    <!--<div ng-messages="signUpForm.last_name.$error" role="alert">-->
                                                        <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                            <!--Your last name must be between 1 and 50 characters long.-->
                                                        <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-name-->

                                        <div class="row">
                                            <div class="form-group">
                                                <md-input-container class="md-block">
                                                    <label>Address</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <textarea  required="" name="street_address" ng-model="cartC.newUser.street_address" rows="3"  ng-pattern="/^.+@.+\..+$/"></textarea>
                                                    <div ng-messages="signUpForm.street_address.$error" role="alert">
                                                        <div ng-message-exp="['required', 'pattern']">
                                                            Your address must include street name and number.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-address-->

                                        <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>City</label><i class="fa fa-building" aria-hidden="true"></i>
                                                        <input type="text" required="" name="city" ng-model="cartC.newUser.city" ng-pattern="/^.+@.+\..+$/">
                                                        <!--<div ng-messages="signUpForm.city.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your city's name must be between 1 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-4 form group -->

                                                <div class="col-sm-4 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>State</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        <input type="text" required="" name="state" ng-model="cartC.newUser.state" ng-pattern="/^.+@.+\..+$/">
                                                        <!--<div ng-messages="signUpForm.state.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your state's name must be between 2 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-4 form group -->

                                                <div class="col-sm-4 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Zip</label><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        <input type="number" required="" name="zip" ng-model="cartC.newUser.zip" minlength="5" maxlength="5" ng-pattern="/^.+@.+\..+$/">
                                                        <!--<div ng-messages="signUpForm.zip.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your zipcode must be 5 numbers.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-4 form group -->
                                        </div><!--row-city-state-zip-->

                                        <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Company</label>
                                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                                        <input type="text" name="company" ng-model="cartC.newUser.company">
                                                        <!--<div ng-messages="signUpForm.first_name.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your first name must be between 1 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->
                                                <div class="col-sm-6 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Attn:</label><i class="fa fa-user" aria-hidden="true"></i>
                                                        <input type="text" name="attn" ng-model="cartC.newUser.attn">
                                                        <!--<div ng-messages="signUpForm.attn.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your first name must be between 1 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-company-attn-->

                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Phone Number</label><i class="fa fa-phone-square" aria-hidden="true"></i>
                                                    <input type="number" required="" name="phone_number" ng-model="cartC.newUser.phone" minlength="10" maxlength="16" ng-pattern="/^.+@.+\..+$/">
                                                    <!--<div ng-messages="signUpForm.phone_number.$error" role="alert">-->
                                                        <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                            <!--Your phone number must be between 10 and 16 characters long.-->
                                                        <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Email Address</label><i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <input type="email" required="" name="email" ng-model="cartC.newUser.email" minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                                                    <!--<div ng-messages="signUpForm.email.$error" role="alert">-->
                                                        <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                            <!--Your first name must be between 8 and 100 characters long.-->
                                                        <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                            <div class="col-sm-offset-3 col-sm-6 form-group">
                                                <md-input-container class="md-block">
                                                    <label>Password:</label><i class="fa fa-key" aria-hidden="true"></i>
                                                    <input type="password" required="" name="password" ng-model="cartC.newUser.password" minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                                                    <div ng-messages="signUpForm.password.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                            Your first name must be between 1 and 50 characters long.
                                                        </div><!-- <div ng-message-exp -->
                                                    </div><!--  ng-messages -->
                                                </md-input-container>
                                            </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-phone-email-pw-->

                                        <div class="row">
                                            <h5> Credit Card Info: </h5>
                                                <div class="col-sm-6 form-group">
                                                        <md-input-container class="md-block">
                                                        <label>Card Number:</label><i class="fa fa-credit-card" aria-hidden="true"></i>
                                                        <input type="number" required="" id="signup-creditcard-number" name="c_card"  ng-model="cartC.newUser.c_card" minlength="15" maxlength="25" ng-pattern="/^.+@.+\..+$/">
                                                        <!--<div ng-messages="signUpForm.c_card.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your credit card number must be between 15 and 19 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                        </md-input-container>

                                                        <!--<md-input-container class="md-block">-->
                                                        <!--<label>Card Type:</label>-->
                                                        <!--<select>-->
                                                            <!--<option value="visa"><i class="fa fa-cc-visa" aria-hidden="true"> Visa</i></option>-->
                                                            <!--<option value="mastercard"><i class="fa fa-cc-mastercard" aria-hidden="true">Master Card</i></option>-->
                                                            <!--<option value="amex"><i class="fa fa-cc-amex" aria-hidden="true">American Express</i></option>-->
                                                            <!--<option value="discover"><i class="fa fa-cc-discover" aria-hidden="true">Discover</i></option>-->
                                                        <!--</select>-->
                                                        <!--</md-input-container>-->

                                                        <md-input-container class="md-block">
                                                        <label>Expiration Date</label><i class="fa fa-calendar" aria-hidden="true"></i>
                                                        <input type="date" required="" id="signup-credit-card-exp" ng-model="cartC.newUser.c_card_exp">
                                                        <!--<div ng-messages="signUpForm.first_name.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your first name must be between 1 and 50 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                        </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->

                                                <div class="col-sm-6 form-group">
                                                    <md-input-container class="md-block">
                                                        <label>Name On Card</label><i class="fa fa-user" aria-hidden="true"></i>
                                                        <input type="text" required="" id="signup-name-on-card" ng-model="cartC.newUser.name_on_card" minlength="2" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                                                        <!--<div ng-messages="signUpForm.name_on_card.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your name must be between 2 and 100 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>

                                                    <md-input-container class="md-block">
                                                        <label>Billing Address</label><i class="fa fa-building-o" aria-hidden="true"></i>
                                                        <input type="text" required="" id="signup-billing-address" ng-model="cartC.newUser.card_billing_address">
                                                        <!--<div ng-messages="signUpForm.first_name.$error" role="alert">-->
                                                            <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">-->
                                                                <!--Your billing address must be between 10 and 100 characters long.-->
                                                            <!--</div>&lt;!&ndash; <div ng-message-exp &ndash;&gt;-->
                                                        <!--</div>&lt;!&ndash;  ng-messages &ndash;&gt;-->
                                                    </md-input-container>
                                                </div><!-- class="col-sm-6 form group -->
                                        </div><!--row-->
                                        <button id="signup-form-submit-btn" type="button" class="col-sm-offset-5 col-sm-3 col-xs-offset-3 col-xs-6 btn btn-lg btn-info" ng-click="cartC.hideSignUpForm(); cartC.hideLoginButtons(); cartC.signUpFormSubmission()">Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </md-content>
                        </div><!--row-->
                    </div>
                </div>
            </div><!-- End Sign Up form -->

            <!-- Guest Checkout Form-->
            <div ng-show="showGuestCheckoutForm" class =" login-forms col-sm-offset-1 col-sm-10 col-xs-12" id="guestcheckout-form">
                <div class=" guest-checkout-form">
                    <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 well">
                        <h3 class="login-header"><i class="fa fa-user-secret" aria-hidden="true"></i>Checkout As Guest</h3>
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <h5> Customer Info: </h5>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>First Name</label>
                                            <input type="text" name="first_name"  ng-model="cartC.guestUser.first_name" placeholder="Enter First Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Last Name</label>
                                            <input type="text" name="last_name"  ng-model="cartC.guestUser.last_name" placeholder="Enter Last Name Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea  name="street_address" ng-model="cartC.guestUser.street_address" placeholder="Enter Street Address Here.." rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>City</label>
                                            <input type="text" name="city" ng-model="cartC.guestUser.city" placeholder="Enter City Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>State</label>
                                            <input type="text" name="state" ng-model="cartC.guestUser.state" placeholder="Enter State Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Zip</label>
                                            <input type="text" name="zip" ng-model="cartC.guestUser.zip" placeholder="Enter Zip Code Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Company</label>
                                            <input type="text" name="company" ng-model="cartC.guestUser.company" placeholder="Enter Company Name Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Attn:</label>
                                            <input type="text" name="attn" ng-model="cartC.guestUser.attn" placeholder="Attention To: ..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Phone Number</label>
                                            <input type="text" name="phone_number" ng-model="cartC.guestUser.phone" placeholder="Enter Phone Number Here.." class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Email Address</label>
                                            <input type="text" name="email" ng-model="cartC.guestUser.email" placeholder="Enter Email Address Here.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h5> Credit Card Info: </h5>
                                        <div class="col-sm-6 form-group">                                                                         <label>Card Number:</label>
                                            <input class="form-control" id="guest--creditcard-number" placeholder=""  ng-model="cartC.guestUser.c_card">
                                            <label>Expiration Date</label>
                                            <input class="form-control" id="guest--credit-card-exp" placeholder="" ng-model="cartC.guestUser.c_card_exp">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Name On Card</label>
                                            <input class="form-control" id="guest-name-on-card" ng-model="cartC.guestUser.name_on_card" placeholder=" Name on Credit Card">
                                            <label>Billing Address</label>
                                            <input class="form-control" id="guest--billing-address" ng-model="cartC.guestUser.card_billing_address" placeholder=" Enter Billing Address of Card">
                                        </div>
                                    </div>
                                    <button id="guest-checkout-form-submit-btn" type="button" class="col-sm-offset-5 col-sm-3 col-xs-offset-3 col-xs-6 btn btn-lg btn-info" ng-click="cartC.hideGuestCheckoutForm(); cartC.hideLoginButtons();cartC.guestCheckoutFormSubmission()" >Submit<i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Guest Checkout form-->

            <!-- Ship-to Form -->
            <div ng-show="showShipToForm" class ="login-forms col-sm-offset-2 col-sm-8 col-xs-12 " id="shipto-form">
                <div class=" shipto-form">
                    <h4 class="well">Awesome! Please Verify Your Shipping And Payment Info: </h4>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h5> Shipping </h5>
                                            <label>Ship To</label>
                                            <input type="text" class="form-control" id="shipto-name" ng-model="cartC.finalizedOrder.customer.name">
                                            <label>Address</label>
                                            <input class="form-control" id="shipto-address" placeholder="12345 Parksingide Road, City, State, Zipcode" ng-model="cartC.finalizedOrder.customer.address">
                                            <label>Attention To:</label>
                                            <input class="form-control" id="shipto-attn" placeholder="attn:/ Micah Grodezetsky" ng-model="cartC.finalizedOrder.customer.attn">
                                            <label>Company</label>
                                            <input class="form-control" id="shipto-company" placeholder=" Learning Fuze " ng-model="cartC.finalizedOrder.customer.company">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <h5> Credit Card On File </h5>
                                            <label>Card Number:</label>
                                            <input class="form-control" id="shipto-creditcard-number" placeholder="****4353" ng-model="cartC.finalizedOrder.customer.c_card_display">
                                            <label>Expiration Date</label>
                                            <input class="form-control" id="shipto-credit-card-exp" placeholder="12/2019" ng-model="cartC.finalizedOrder.customer.c_card_exp">

                                            <label>Name On Card</label>
                                            <input class="form-control" id="shipto-name-on-card" placeholder="Micah Grodezetsky" ng-model="cartC.finalizedOrder.customer.name_on_card">
                                        </div>
                                            <!-- Place Your Order Button-->
                                            <!--<div class="col-sm-6" id="place-your-order">                                                                <button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised disabled" ng-click="cartC.placeYourOrder()"><a href="#invoice">Place Your Order</a></button>-->
                                            <!--</div> &lt;!&ndash; End Place Your Order Button&ndash;&gt;-->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Shipto Form -->

        <!--------------- CART TABLE ------------>
            <div class="cart col-sm-offset-1 col-sm-10 col-xs-12" id="cart">

                <!-- Items Table-->
                <table class="table-striped col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table mdl-js-data-table  mdl-shadow--2dp" id="cart-table"><!-- mdl-data-table--selectable -->
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric cart-header">Flavor</th>
                            <th class="cart-header">Quantity</th>
                            <th class="cart-header">Unit Price</th>
                            <th class="cart-header">Extended Price</th>
                        </tr>
                    </thead>
                    <!--cartC.user.isLoggedIn ? macaron.name : 'macaron.name + showLowInventory'-->
                    <tbody>
                        <tr ng-repeat="macaron in cartC.cart.macaron_array | filter: filter" >
                            <td class="mdl-data-table__cell--non-numeric" ng-id="{{macaron.name}}" >{{macaron.name}}</td>
                            <td ng-id="{{macaron.ordered}}" >{{macaron.ordered}}</td>
                            <td ng-id="{{macaron.price}}" >$ {{macaron.price}}</td>
                            <td ng-id="{{macaron.price}}" >$ {{ cartC.addSubTotal(macaron.ordered, macaron.price) }}</td>
                        </tr>

                    </tbody>
                </table> <!-- End Items Table-->

                <!-- Totals Table-->
                <table class="table-striped col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table mdl-js-data-table  mdl-shadow--2dp" id="totals-table"><!-- mdl-data-table--selectable -->
                    <tbody>
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Subtotal</td>
                            <td class="cart-header">$ {{ cartC.cart.subTotal }}</td>
                        </tr><!-- Subtotal -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Taxes</td>
                            <td class="cart-header">$ {{cartC.cart.tax}}</td>
                        </tr><!-- Taxes -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Shipping</td>
                            <td class="cart-header">$ {{cartC.shipping}}</td>
                        </tr><!-- Shipping -->
                        <tr>
                            <td class="cart-header col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-12 mdl-data-table__cell--non-numeric">Total</td>
                            <td class="cart-header">$ {{cartC.cart.totalCost}}</td>
                        </tr><!-- Total -->
                    </tbody>
                </table> <!-- End Totals Table-->

                <!-- Checkout Buttons-->
                <div ng-show="showProceedToCheckoutButton" class="checkout-buttons col-sm-offset-2 col-sm-5 col-xs-6 col-xs-offset-right-6" id="proceed-to-checkout">
                    <button ng-show="showProceedToCheckoutButton" ng-hide="cartC.showProceedToCheckoutButton" class="mdl-button mdl-js-button mdl-button--raised " ng-click="cartC.proceedToCheckout()">
                        Proceed To Checkout <i class="fa fa-arrow-circle-right fa-submit" aria-hidden="true"></i>
                    </button>
                </div>

                <a href="#invoice" class="checkout-buttons"><div ng-show="showPlaceYourOrderButton" class="checkout-buttons col-sm-offset-5 col-sm-4  col-xs-offset-3 col-xs-8" id="place-your-order-btn">
                    <!-- Raised button with ripple -->
                    <button class="mdl-button mdl-js-button mdl-button--raised disabled" ng-click="cartC.placeYourOrder()">Place Your Order</button>
                </div></a> <!-- End Checkout Buttons-->
            </div><!-- End CART TABLE-->
        </div><!-- row-->
    </div><!-- container -->
