<div id="map"></div>
<div id="contact_info" class="contact col-sm-6 col-xs-12">
   <h4>Visit us!</h4>
    <p>Monday - Friday | 10am - 9pm</p>
    <p>Saturday | 10am - 8pm</p>
    <p>Sunday | 11am - 7pm</p>
    <p class="off_days">Closed Thanksgiving Day, Christmas Day, and Easter Day</p>
    <br>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i> 1625 Post St, San Francisco, CA 94115</p>
    <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 949 800-3111</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i><a id="contact_user_email"> order@MPoutique.com</a></p>
    <br>
    <p>Send your questions, comments and flavor suggestions or place an order</p>

</div>
<form class="contact col-sm-6 col-xs-12" method="post" id="contact-form" name="contactForm" ng-show="contactC.show_form" ng-submit="contactC.submit(userForm.$valid)" novalidate><!-- novalidate prevents HTML5 validation since we will be validating ourselves-->
    <h4>Contact us!</h4>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 form-group">
                <label>Your Email Address <span class="required_field"> *</span></label>
                <input type="email" name="contactEmail" class="form-control" id="contactEmail" ng-model="user.contactEmail" placeholder="Please Enter A Valid Email Address." required>
            </div>
            <div class="col-sm-12 form-group">
                <label>Your Name<span class="required_field"> *</span></label>
                <input type="text" name="contactName" class="form-control" ng-model="user.contactName" ng-minlength="2" placeholder="Enter Your Name Here ... " required>
            </div>
            <div class="col-sm-12 form-group">
                <label>Your Comment<span class="required_field"> *</span></label>
                <textarea type="text" name="contactComment" placeholder="Your message needs to be at least 10 characters." class="form-control" ng-model="user.contactComment" ng-minlength="10"></textarea>
            </div>
        </div>
    </div>
    <div class="contact_submit col-sm-12 form-group">
        <button id="contact-form-submit-btn" type="submit" class="btn btn-lg btn-info" ng-disabled="contactForm.$invalid" >Submit</button>
        <!--ng-click="contactC.submit()"-->
    </div>
</form>

<div id="contact_thanks" ng-show="contactC.show_thank" class="contact col-sm-6 col-xs-12">
    <h4>Thanks for your message.</h4>
    <p>We will contact you as soon as possible!</p>
</div>

<!----------------------------map----------------------------------->
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 33.653326, lng:-117.752502},
            zoom: 11
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        //  HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                ///mpoutigue marker
                var mpoutique=new google.maps.Marker({
                    position: {lat: 33.653326, lng:-117.752502},
                    animation:google.maps.Animation.BOUNCE
                });
                mpoutique.setMap(map);
                ///geolocation marker
                var user=new google.maps.Marker({
                    position:pos
                });
                user.setMap(map);
                ///user info window
                var infowindow = new google.maps.InfoWindow({
                    content:"You are here!"
                });
                ///click handler for info window
                google.maps.event.addListener(user, 'click', function() {
                    infowindow.open(map,user);
                });
                ////map polyline
//                var store = new google.maps.LatLng(33.653326,-117.752502);
//                var myTrip=[store,pos];
//                var flightPath=new google.maps.Polyline({
//                    path:myTrip,
//                    strokeColor:"#0000FF",
//                    strokeOpacity:0.8,
//                    strokeWeight:2
//                });
//                flightPath.setMap(map);

            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjB0z2sG-kIlF4cnQiLwF2q78SE1QjVKQ&callback=initMap"></script>