<div ng-show="showShipToForm" class ="login-forms col-sm-offset-2 col-sm-8 col-xs-12 " id="shipto-form">
    <div class=" shipto-form">
        <h4 class="well">Awesome! Please Verify Your Shipping And Payment Info: </h4>
        <div class="col-lg-12 well">
            <div class="row">
                <form>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <h5> Shipping Info: </h5>
                                <i class="fa fa-user" aria-hidden="true"></i><label>Ship To</label>
                                <input type="text" class="form-control" id="shipto-name" ng-model="cartC.finalizedOrder.customer.name">
                                <i class="fa fa-map-marker" aria-hidden="true"></i><label>Address</label><a href="?"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                <input class="form-control" id="shipto-address" placeholder="12345 Parksingide Road, City, State, Zipcode" ng-model="cartC.finalizedOrder.customer.address">
                                <i class="fa fa-user" aria-hidden="true"></i><label>Attention To:</label>
                                <input class="form-control" id="shipto-attn" placeholder="attn:/ Micah Grodezetsky" ng-model="cartC.finalizedOrder.customer.attn">
                                <i class="fa fa-building-o" aria-hidden="true"></i><label>Company</label>
                                <input class="form-control" id="shipto-company" placeholder=" Learning Fuze " ng-model="cartC.finalizedOrder.customer.company">
                            </div>
                            <div class="col-sm-6 form-group">
                                <h5> Credit Card On File </h5>
                                <i class="fa fa-credit-card" aria-hidden="true"></i><label>Card Number:</label>
                                <input class="form-control" id="shipto-creditcard-number" placeholder="****4353" ng-model="cartC.finalizedOrder.customer.c_card_display">
                                <i class="fa fa-calendar" aria-hidden="true"></i><label>Expiration Date</label>
                                <input class="form-control" id="shipto-credit-card-exp" placeholder="12/2019" ng-model="cartC.finalizedOrder.customer.c_card_exp">

                                <i class="fa fa-user" aria-hidden="true"></i><label>Name On Card</label>
                                <input class="form-control" id="shipto-name-on-card" placeholder="Micah Grodezetsky" ng-model="cartC.finalizedOrder.customer.name_on_card">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- End Shipto Form -->